<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Property基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Property增强.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SEL类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>day14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>id类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>instancetype和id的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>new方法实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>property修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>synthesize基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>构造方法基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>构造方法练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>类工厂方法在继承中的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>类的启动过程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>类的本质.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>自定义构造方法在继承中的表现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>自定义类工厂方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70AE5D181B38E74200A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D291B38EA6100A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D371B38EF7100A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D451B38F53800A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D531B38F90200A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D611B38FDF800A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D721B3906D900A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D801B390AC200A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D8E1B390E5200A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5D9F1B3935AD00A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DAD1B39381D00A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DBB1B393B3100A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DCC1B3942D800A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DDA1B39457C00A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DEB1B39488300A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AE5DFC1B39555000A80C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D84D7EA1B356EF200F057FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
