<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>函数和方法的去呗.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>局部变量和全局变量以及成员变量的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>常见错误.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>第一个OC类-方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>第一个OC类-方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>第一个OC类-类方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>第一个OC类-类方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>第一个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>第二个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70E99B561B2FB7A800AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B671B2FC99700AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B721B2FD26E00AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B7D1B2FF69300AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B881B30052500AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B931B300C5500AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99B9E1B3010BB00AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99BA91B301CDB00AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99BB41B301ECB00AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E99BBF1B30229A00AD5A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
