<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>#pragma mark基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSString基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OC多文件开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>day12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>修改项目模板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>匿名对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>对象作为方法的参数传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>对象作为方法的参数连续传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>对象作为返回值类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>结构体作为对象的属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70DA6C541B324E4D000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C621B3252CC000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C6D1B325794000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C781B325DD3000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C831B326240000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C8E1B326758000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6C991B3271C3000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6CA41B32735A000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6CAF1B32A027000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6CBA1B32A37E000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DA6CD11B32AA31000E3386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EDD58F1B32B267000C0F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
