<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>2837</string>
		<key>pic</key>
		<string>www.baidu.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王者</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王一</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五弟</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李冰冰</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李军</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿布</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>额额</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>八书</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>君子</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>机器人</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>云台山</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>焦作</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太行山</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广告</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长城</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>故宫</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欢乐谷</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天安门</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿西</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>云彩</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国家图书馆</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>建国门</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>永安里</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大望路</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国贸</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双井</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼家楼</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hujiaou</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>guomao</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aaa</string>
		<key>pic</key>
		<string>http://api.25zu.com/Public/apifile/20160509/57303e72c3e68.jpg</string>
	</dict>
</array>
</plist>
