<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>getter-setter方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>getter-setter方法练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>self关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>self关键字2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>self关键字的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>super.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>实例变量修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>点语法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>继承基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>继承的其他特性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>自定义代码块.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7002C2A61B33A19000C3BC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7002C2B71B33A5C400C3BC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7002C2C51B33A9D300C3BC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70DB643C1B33B16C00B4D86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F017BD1B33B46E000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F017CB1B33B838000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F017D91B33BA6D000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F017E71B33BE59000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F017F51B33C1F1000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F018091B33EEBB000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F0181D1B33F43E000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F018311B33FBD9000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F0184B1B3402F8000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F0185C1B340A68000A03D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
