<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy与Property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Copy内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Copy基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NSArray和NSString之间转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSArray排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSArray文件读写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSArray遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NSCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NSDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NSDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSFileManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OC中的常用结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>block的循环引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>day18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>宏定义抽取单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>自定义类实现copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>集合对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70D00F971B40D094004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FA81B40D499004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FB61B40DB44004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FC41B40DF48004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FCF1B40E12E004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FDD1B40E360004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FE81B40EAC1004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FF31B40EFC6004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D00FFE1B40F331004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010091B411D4E004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010141B411F51004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0101F1B4121F1004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0102A1B4128C5004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010351B412D65004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010401B413743004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0104E1B413982004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010591B413E76004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010961B4142E5004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010A71B41490E004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010B21B415B7A004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010C31B415FD5004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D010D11B416524004415F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
