<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>@class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>@class第二个应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Set方法的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>day15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>property修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>多个对象内存管理练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>多个对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>循环retain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>野指针和空指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70180E9A1B3A9FB90066E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70180EAE1B3AA4130066E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70180EBF1B3AA7950066E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F598B71B3A3F7E00B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F598C81B3A4A3400B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F598D61B3A4F6300B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F598E71B3A566A00B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F598F81B3A5BA900B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F5990F1B3A875000B3187B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
