<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSMutableString基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NSMutableString常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NSMutalbleString练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>NSString基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>day17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>protocol注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>代理设计模式练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>协议的应用场景1-类型限定.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>协议的应用场景2-代理设计模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>字符串与路径.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>字符串截取.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>字符串搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>字符串文件读写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>字符串替换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>字符串比较.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>字符串的转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>字符串读写2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>701CBC531B3FA30800BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC5E1B3FCBF100BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC691B3FCFA600BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC741B3FD93D00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC7F1B3FDB6D00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC8A1B3FDE3D00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBC951B3FE61E00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBCA01B3FE89B00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBCAB1B3FEBDF00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBCB61B3FEEDB00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBCC11B3FF0BA00BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>701CBCCC1B3FF45400BEDA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ED00001B3F8C9100F10CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ED00121B3F904700F10CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70ED002D1B3F9AEC00F10CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EDFFCE1B3F7F9900F10CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EDFFE91B3F829F00F10CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
