<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARC中多个对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ARC和MRC混编.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ARC基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Block和typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Block基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Block的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Block的注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Category基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Category注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Category练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MRC转ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>auatorelease应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>autorelease注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>day16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>匿名分类(延展).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>707C0AC51B3CDCEC00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0AD61B3CE12100D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B191B3CEBB300D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B271B3CEFAA00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B351B3CF37B00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B461B3CF9CC00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B5A1B3CFB8800D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B6E1B3CFDCB00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B7F1B3D00D300D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0B931B3D03D500D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0BA11B3D291A00D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0BB21B3D2E0100D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0BBD1B3D361300D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0BC81B3D385300D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0C091B3D409200D59BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
